{{ define "main" }}
<div class="row flex-xl-nowrap">
  <div class="col-lg-5 col-xl-4 docs-sidebar">
    <nav class="docs-links" aria-label="Main navigation">
      {{ partial "sidebar/webapi-menu.html" . }}
    </nav>
  </div>
  {{ if ne .Params.toc false -}}
  <nav class="docs-toc d-none d-xl-block col-xl-3" aria-label="Secondary navigation">
    {{ partial "sidebar/docs-toc.html" . }}
  </nav>
  {{ end -}}
  {{ if .Params.toc -}}
  <main class="docs-content col-lg-11 col-xl-11">
    {{ else -}}
    <main class="docs-content col-lg-11 col-xl-11">
      {{ end -}}
      {{ if .Site.Params.options.breadCrumb -}}
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          {{ partial "main/breadcrumb" . -}}
          <li class="breadcrumb-item active" aria-current="page">{{ .Title }}</li>
        </ol>
      </nav>
      {{ end }}
      <h1>{{ .Title }}</h1>
      <h5 style="margin:0">{{ .Description }}</h5>
      <p class="lead">{{ .Params.lead | safeHTML }}</p>
      {{ partial "main/headline-hash.html" .Content }}
      <div class="card-list">
        {{ $currentSection := .CurrentSection }}
        {{ range where .Site.RegularPages "Section" .Section }}
        {{ if in (.RelPermalink | string) $currentSection.RelPermalink }}
        <div class="card my-3">
          <div class="card-body">
            <a class="stretched-link" href="{{ .RelPermalink }}">
              <h4 style="margin-top: 0;">{{ .Params.title | title }} </h4>
              <p style="font-weight: 100; font-size:medium;">{{ .Params.description | title }}</p>
            </a>
          </div>
        </div>
        {{ end }}
        {{ end }}
      </div>
      {{ partial "main/docs-navigation.html" . }}
    </main>
</div>
{{ end }}
