{{ if ne .Params.toc false -}}
  <div class="page-links">
    <h3>On this page</h3>
    {{ .TableOfContents }}
  </div>
  <div>
    <h6>SUPPORT THE PROJECT</h6>
    <script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button"
      data-slug="codewithmukesh" data-color="#FFDD00" data-emoji="" data-font="Cookie" data-text="Buy me a coffee"
      data-outline-color="#000000" data-font-color="#000000!important" data-coffee-color="#ffffff"></script>
  </div>
{{ end -}}
