<a class="btn btn-primary btn-lg px-4 mb-2" style="font-size: medium;"
  href="{{.Site.Params.docsRepo}}/blob/main/content/{{replace .File.Path "\\" "/" }}" target="_blank"
  role="button"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
    class="feather feather-edit-2">
    <path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path>
  </svg> Edit this Document on GitHub</a>
