<div class="views" style="margin-bottom: 20px;">
  <span class="views">
    <img
      src="https://api.visitorbadge.io/api/visitors?path={{.Permalink}}&label=Views&labelColor=%233eaf7c&countColor=%231b1f22&style=flat-square" />
  </span>
  <span class="views">
      <a href="https://discord.gg/gdgHRt4mMw" target="_blank"><img
        src="https://img.shields.io/discord/878181478972928011?color=%233eaf7c&label=Discord&logo=discord&logoColor=%233eaf7c&style=flat-square" /></a>
  </span>
  <span class="views">
    <a href="https://github.com/fullstackhero" target="_blank"><img
      src="https://img.shields.io/github/stars/fullstackhero?label=fullstackhero github ⭐&style=flat-square&color=%233eaf7c"/></a>
</span>
</div>
