{{ define "main" }}

{{ template "_internal/google_analytics.html" . }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <img src="{{ .Site.Params.Logo }}" alt="FullStackHero Logo" style="max-width: 180px">
      <h1 class="mt-0">fullstack<b style="font-weight: 600;">hero</b></h1>
    </div>
    <div class="col-lg-9 col-xl-8 text-center">
      <b class="primary-text" style="font-weight: 600!important;">
        <p class="lead" style="margin-bottom: 0;">{{ .Params.lead | safeHTML }}</p>
      </b>
      <p class="lead">{{ .Params.description | safeHTML }}</p>
      <a class="btn btn-primary btn-lg px-4 mb-2" href="getting-started/" role="button">Get Started</a>
      <p class="meta">fullstackhero is in it's early development stages.</p>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
<section class="section section-sm">
  <div class="container">
    <div class="justify-content-center text-center">
      <h2>Key Features</h2>
      <p>Use sensible defaults for structured data, open graph, and Twitter cards. Or easily change the SEO settings
        to your liking.</p>
    </div>

    <div class="row justify-content-center text-center">
      <div class="col-lg-5">
        <h2 class="h4"><b class="primary-text">Clean</b> Architecture</h2>
        <b class="primary-text">fullstackhero</b> follows Clean Architecture principles to keep the project highly
        scalable in nature.
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Fast by default ⚡️</h2>
        <p>Get 100 scores on <a
            href="https://googlechrome.github.io/lighthouse/viewer/?gist=7731347bb8ce999eff7428a8e763b637">Google
            Lighthouse</a> by default. Doks removes unused css, prefetches links, and lazy loads images.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4"><b class="primary-text">Multitenancy</b> Support</h2>
        <p>Out of the box Multitenancy support with Single Database per Tenant and Shared Database for Multiple Tenant Approaches.</p>
      </div>
    </div>
    <div class="row justify-content-center text-center">
      <div class="col-lg-5">
        <h2 class="h4">Well Documented</h2>
        <p>Search your Doks site with FlexSearch. Easily customize index settings and search options to your liking.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Saves 100+ Development Hours</h2>
        <p>Build pages with a landing page, blog, or documentation layout. Add custom sections and components to suit
          your needs.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Free & Open Source</h2>
        <p>The project is actively developed on GitHub under MIT licence and is open for contributions.</p>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="justify-content-center text-center">
      <h2>Tools & Technologies</h2>
      <p>Use sensible defaults for structured data, open graph, and Twitter cards. Or easily change the SEO settings
        to your liking.</p>
    </div>
    <div class="tech-card">
      <img src="/images/tools/net.svg" alt=".NET" height="60px" style="margin: 5px;">
      <img src="/images/tools/angular.svg" alt="Angular" height="60px" style="margin: 5px;">
      <img src="/images/tools/blazor.svg" alt="Blazor" height="60px" style="margin: 5px;">
      <img src="/images/tools/bootstrap.svg" alt="Bootstrap" height="60px" style="margin: 5px;">
      <img src="/images/tools/git.svg" alt=".NET" height="60px" style="margin: 5px;">
      <img src="/images/tools/github.svg" alt=".NET" height="60px" style="margin: 5px;">
      <img src="/images/tools/visualcode.svg" alt=".NET" height="60px" style="margin: 5px;">
      <img src="/images/tools/npm.svg" alt=".NET" height="60px" style="margin: 5px;">
      <img src="/images/tools/docker.svg" alt=".NET" height="60px" style="margin: 5px;">
      <img src="/images/tools/postgresql.svg" alt=".NET" height="60px" style="margin: 5px;">
    </div>

</section>
{{ end }}
